@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  -ms-overflow-style: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.close-scrollbar::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}

.css-scrollbar::-webkit-scrollbar {
  background:none;
  width: 5px;
}
.css-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  transition-duration: 0.3s;
}
.css-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgb(214, 214, 214);
}
.library-container{
  max-width: 1680px;
}
.post-container, .trade-container{
  max-width: 1345px;
}
@media screen and (max-width: 1700px) {
  .library-container{
    max-width: 1345px;
  }
}
@media screen and (max-width: 1370px) {
  .library-container, .post-container{
    max-width: 1010px;
  }
}
@media screen and (max-width: 1032px) {
  .library-container, .post-container{
    max-width: 675px;
  }
}
@media screen and (max-width: 700px) {
  .library-container, .post-container{
    justify-content: center;
  }
}
/*                                     */
@media screen and (max-width: 1800px) {
  .trade-container{
    max-width: 1010px;
  }
}
@media screen and (max-width: 1460px) {
  .trade-container{
    max-width: 675px;
  }
}
@media screen and (max-width: 1125px) {
  .trade-container{
    justify-content: center;
  }
}
/*                                     */


.animetion-addressOn{
  animation: address 0.5s ease-in-out;
}
@keyframes address {
  0% {
    height: 0;
  }100% {
    height: 240px;
  }
}





.pickUpSelectAnimation{
  animation: pickUpSelect 2s ease-in-out forwards;
}
.positionFixedpick{
  transform: translateX(93px) translateY(-230px);
    z-index: 0;
}
@keyframes pickUpSelect {
  0% {
    
  }50%{
    transform: translateX(93px) translateY(-130px);
  }100%{
    transform: translateX(93px) translateY(-230px);
    z-index: 0;
  }
}
.pickUpNonSelectAnimation{
  animation: pickUpNonSelect 2s ease-in-out forwards;
  opacity: 0;
  z-index: 0;
}
.positionFixedNonpick{
  transform: translateX(93px) translateY(-230px);
  opacity: 0;
  transition-duration: 0s;
}

@keyframes pickUpNonSelect {
  0% {
    
  }50%{
    transform: translateX(93px) translateY(-130px);
    opacity: 1;
  }100%{
    transform: translateX(93px) translateY(-230px);
    opacity: 0;
    z-index: 0;
  }
}

.sendSelectAnimation{
  animation: SendSelect 2s ease-in-out forwards;
}
.positionFixedsend{
  transform: translateX(-93px) translateY(-230px);
  transition-duration: 0s;
}

@keyframes SendSelect {
  0% {
    
  }50%{
    transform: translateX(-93px) translateY(-130px);
  }100%{
    transform: translateX(-93px) translateY(-230px);
    z-index: 0;

  }
}

.sendNonSelectAnimation{
  animation: SendNonSelect 2s ease-in-out forwards;
}

.positionFixedNonsend{
  transform: translateX(-93px) translateY(-230px);
  opacity: 0;
  z-index: 0;
}

.responsive-open{
  display: none;
}
@keyframes SendNonSelect {
  0% {
    
  }50%{
    transform: translateX(-93px) translateY(-130px);
    opacity: 1;
  }100%{
    transform: translateX(-93px) translateY(-230px);
    opacity: 0;
    z-index: 0;

  }
}


@media screen and (max-width: 1000px) {
  .responsive-bookinfo{
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    gap: 50px;
    padding-right: 50px;
  }
  .responsive-userCard{
    flex-direction: column;
    align-items: center;
  }
  .responsive-border-line{
    border-right: none;
    border-bottom: 1px solid #d6d6d6;
  }
  .responsive-close-css{
    display: none;
  }
  .responsive-trade-book{
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .responsive-bookinfo-img{
    margin-right: 0;
  }
}


@media screen and (max-width: 1050px) {
  .responsive-close{
    display: none;
  }
  .responsive-open{
    display: flex;
  }
}

















































#menuToggle
{
  display: block;
  position: relative;
  top: 5px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}



#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2;
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #ffffff;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

