@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  -ms-overflow-style: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.library-container{
  max-width: 1680px;
}
.post-container, .trade-container{
  max-width: 1345px;
}
@media screen and (max-width: 1700px) {
  .library-container{
    max-width: 1345px;
  }
}
@media screen and (max-width: 1370px) {
  .library-container, .post-container{
    max-width: 1010px;
  }
}
@media screen and (max-width: 1032px) {
  .library-container, .post-container{
    max-width: 675px;
  }
}
@media screen and (max-width: 700px) {
  .library-container, .post-container{
    justify-content: center;
  }
}
/*                                     */
@media screen and (max-width: 1800px) {
  .trade-container{
    max-width: 1010px;
  }
}
@media screen and (max-width: 1460px) {
  .trade-container{
    max-width: 675px;
  }
}
@media screen and (max-width: 1125px) {
  .trade-container{
    justify-content: center;
  }
}
/*                                     */


.animetion-addressOn{
  animation: address 0.5s ease-in-out;
}
@keyframes address {
  0% {
    height: 0;
  }100% {
    height: 240px;
  }
}







.pickUpSelectAnimation{
  animation: pickUpSelect 2s ease-in-out forwards;
}
@keyframes pickUpSelect {
  0% {
    
  }50%{
    transform: translateX(93px) translateY(-130px);
  }100%{
    transform: translateX(93px) translateY(-230px);
    z-index: 0;
  }
}
.pickUpNonSelectAnimation{
  animation: pickUpNonSelect 2s ease-in-out forwards;
}

@keyframes pickUpNonSelect {
  0% {
    
  }50%{
    transform: translateX(93px) translateY(-130px);
    opacity: 1;
  }100%{
    transform: translateX(93px) translateY(-230px);
    opacity: 0;
    z-index: 0;
  }
}

.sendSelectAnimation{
  animation: SendSelect 2s ease-in-out forwards;
}

@keyframes SendSelect {
  0% {
    
  }50%{
    transform: translateX(-93px) translateY(-130px);
  }100%{
    transform: translateX(-93px) translateY(-230px);
    z-index: 0;

  }
}

.sendNonSelectAnimation{
  animation: SendNonSelect 2s ease-in-out forwards;
}

@keyframes SendNonSelect {
  0% {
    
  }50%{
    transform: translateX(-93px) translateY(-130px);
    opacity: 1;
  }100%{
    transform: translateX(-93px) translateY(-230px);
    opacity: 0;
    z-index: 0;

  }
}